.header-container > tbody > tr > td {
  background-image: url('../assets/img/bg-image.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  float: none;

  &_large {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }

  &_small {
    max-width: 430px;
  }
}

.logo{
  width:170px !important;
}

.right-arrow {
  display: inline;
}

.header-description {
  color: #515759;
}
.website-link-wrapper{
  margin-bottom: 0;
}
.cta-btn a {
  padding-left: 50px !important;
  padding-right: 50px !important;
  font-size: 18px;
  line-height: 22px;
}

.smaller {
  &-text {
    font-size: 14px;
  }
}

.list {
  &__paragraph {
    color: $secondary-font-color;
  }

  &__heading,
  &__paragraph {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.thumb {
  max-width: 90px;
}

.arrow-with-circle {
  max-width: 40px;
}

th.no-padding.first,
th.no-padding.last {
  padding: 0;
}

.secondary-font-color {
  color: #B1BCC0;;

  &[href] {
    text-decoration: underline;
  }
}

.divider-light {
  max-width: 480px;
  border: 1px solid #DFE1E4;
}

