@media only screen and (max-width: #{$global-breakpoint}) {
  .heading{
    font-size: 35px !important;
  }
  .thumb {
    max-width: 60px !important;
  }

  table.row tbody .list__content {
    padding: 0 !important;

    h6, p {
      padding: 0 !important;
    }
  }

  .arrow-with-circle {
    max-width: 25px !important;
  }
}