<spacer size="80"></spacer>

<container>
  <spacer size="40"></spacer>
</container>

<container class="header-container">

  <spacer size="30"></spacer>

  <row class="container_large">
    <columns small="6" large="6" valign="middle">
      <a href="#"><img
        src="assets/img/brand.png"
        class="float-left logo" alt="ServerSharing"></a>
    </columns>
    <columns small="5" large="6" valign="middle">
      <p class="text-right website-link-wrapper">
        <a href="#">Visit website <img
          src="assets/img/arrow-right.png"
          class="right-arrow"
          alt=">">
        </a>
      </p>
    </columns>
  </row>

  <spacer size="30"></spacer>
  <spacer size="30" class="show-for-large"></spacer>

  <row class="container_large">
    <columns>
      <h1 class="heading"><b>Powerful and safe server hosting</b></h1>
    </columns>
  </row>

  <spacer size="10"></spacer>

  <row class="container_large">
    <columns>
      <p class="header-description">Our revolutionary Cloud solution is powerful, simple, and surprisingly affordable.
        Harnessing the has never been easier</p>
    </columns>
  </row>

  <spacer size="20"></spacer>

  <row class="container_large">
    <columns>
      <button href="#" class="radius cta-btn">Learn more</button>
    </columns>
  </row>

  <spacer size="30"></spacer>

</container>
